<h2>Client-Side Developer Exam</h2>
<p class="text-muted">Link to the task: <a href="https://drive.google.com/file/d/17iQiK8J1ApRA7vMBPOpGqZtNutQEm0fg/view?usp=sharing" target="_blank" class="font-weight-bold transition">https://drive.google.com</a>.</p>
<p>Please. double click to edit the form!</p>
<button (click)="refreshRows()" mat-icon-button color="primary"><mat-icon>update</mat-icon></button>
<ngx-datatable
    #table
    class="material cursor-pointer"
    [headerHeight]="80"
    [limit]="50"
    [columnMode]="ColumnMode.force"
    [footerHeight]="100"
    [rowHeight]="'auto'"
    [rows]="rows"
    [loadingIndicator]="loadingIndicator"
    [selected]="selected"
    [selectionType]="'single'"
    (select)='onSelect($event)'>

  <ngx-datatable-column
    [width]="30"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="true"
    [resizeable]="false"
    [headerCheckboxable]="true"
    [checkboxable]="true">
  </ngx-datatable-column>
  <ngx-datatable-column name="cowId">
    <ng-template ngx-datatable-cell-template let-value="value">
      {{value}}
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column name="heatIndexPeak">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span class="cursor-pointer"
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-heatIndexPeak'] = true"
              *ngIf="!editing[rowIndex + '-heatIndexPeak']"
            >
              {{ value }}
            </span>
      <input
        *ngIf="editing[rowIndex + '-heatIndexPeak']"
        (blur)="editing[rowIndex + '-heatIndexPeak'] = false"
        (change)="updateValue($event, 'heatIndexPeak', rowIndex)"
        [value]="value"
      >
    </ng-template>
  </ngx-datatable-column>

    <ngx-datatable-column name="animalId">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span class="cursor-pointer"
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-animalId'] = true"
              *ngIf="!editing[rowIndex + '-animalId']"
            >
              {{ value }}
            </span>
        <input
          *ngIf="editing[rowIndex + '-animalId']"
          (blur)="editing[rowIndex + '-animalId'] = false"
          (change)="updateValue($event, 'animalId', rowIndex)"
          [value]="value"
        >
      </ng-template>

    </ngx-datatable-column>

  <ngx-datatable-column name="lactationNumber">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span class="cursor-pointer"
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-lactationNumber'] = true"
              *ngIf="!editing[rowIndex + '-lactationNumber']"
            >
              {{ value }}
            </span>
      <input
        *ngIf="editing[rowIndex + '-lactationNumber']"
        (blur)="editing[rowIndex + '-lactationNumber'] = false"
        (change)="updateValue($event, 'lactationNumber', rowIndex)"
        [value]="value"
      >
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="ageInDays">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span class="cursor-pointer"
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-ageInDays'] = true"
              *ngIf="!editing[rowIndex + '-ageInDays']"
            >
              {{ value }}
            </span>
      <input
        *ngIf="editing[rowIndex + '-ageInDays']"
        (blur)="editing[rowIndex + '-ageInDays'] = false"
        (change)="updateValue($event, 'ageInDays', rowIndex)"
        [value]="value"
      >
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-footer *ngIf="true">
    <ng-template
      ngx-datatable-footer-template
      let-rowCount="rowCount"
      let-pageSize="pageSize"
      let-selectedCount="selectedCount"
      let-curPage="curPage"
      let-offset="offset"
    >
      <button (click)="onDeleteRows(selected)" *ngIf="selected.length > 0" mat-icon-button><mat-icon [matBadge]="selected.length" matBadgeColor="warn" color="primary">delete</mat-icon></button>
      <button class="ml-10" (click)="addRow()" mat-icon-button><mat-icon color="primary">add</mat-icon></button>

    </ng-template>
  </ngx-datatable-footer>
</ngx-datatable>

