<h2>Client-Side Developer Exam</h2>
<p>Please. double click to edit the form!</p>
<button (click)="refreshRows()" *ngIf="rows?.length <= 6" mat-icon-button color="primary"><mat-icon>update</mat-icon></button>
<ngx-datatable
    #table
    class="material"
    [headerHeight]="80"
    [limit]="50"
    [columnMode]="ColumnMode.force"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="rows"
    [loadingIndicator]="loadingIndicator"
    [selected]="selected"
    [selectionType]="'checkbox'"
    (activate)="onActivate($event)"
    (select)='onSelect($event)'>
  <ngx-datatable-column
    [width]="30"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="true"
    [resizeable]="false"
    [headerCheckboxable]="true"
    [checkboxable]="true">
  </ngx-datatable-column>
  <ngx-datatable-column name="cowId">
    <ng-template ngx-datatable-cell-template let-value="value">
      {{value}}
    </ng-template>
  </ngx-datatable-column>

    <ngx-datatable-column name="animalId">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-animalId'] = true"
              *ngIf="!editing[rowIndex + '-animalId']"
            >
              {{ value }}
            </span>
        <input
          *ngIf="editing[rowIndex + '-animalId']"
          (blur)="editing[rowIndex + '-animalId'] = false"
          (change)="updateValue($event, 'animalId', rowIndex)"
          [value]="value"
        >
      </ng-template>
    </ngx-datatable-column>
<!--    <ngx-datatable-column name="animalId">-->
<!--      <ng-template ngx-datatable-cell-template let-value="value">-->
<!--        {{value}}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->
  <ngx-datatable-column name="lactationNumber">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-lactationNumber'] = true"
              *ngIf="!editing[rowIndex + '-lactationNumber']"
            >
              {{ value }}
            </span>
      <select
        *ngIf="editing[rowIndex + '-lactationNumber']"
        (blur)="editing[rowIndex + '-lactationNumber'] = false"
        (change)="updateValue($event, 'lactationNumber', rowIndex)"
        [value]="value"
      >
        <option *ngFor="let value of [1,2,3,4,5,6,7,8,9,10]" [value]=value>{{value}}</option>
      </select>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="ageInDays">
    <ng-template ngx-datatable-cell-template let-value="value">
      {{value}}
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

<button (click)="onDeleteRows(selected)" *ngIf="selected.length > 0" mat-icon-button><mat-icon [matBadge]="selected.length" matBadgeColor="warn" color="primary">delete</mat-icon></button>

<button style="margin-left: 10px" (click)="addRow()" mat-icon-button><mat-icon color="primary">add</mat-icon></button>



