<div style="padding: 40px">
  <router-outlet></router-outlet>
</div>

<!--<form [formGroup]="form">
    <table mat-table [dataSource]="tableData">
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; let i = index; columns: displayColumns;"></tr>

      <ng-container matColumnDef="cowId">
        <th mat-header-cell *matHeaderCellDef> cowId</th>
        <td mat-cell *matCellDef="let row; let index = index">
          {{row?.cowId}}
        </td>
      </ng-container>

      <ng-container matColumnDef="healthIndex">
        <th mat-header-cell *matHeaderCellDef> healthIndex</th>
        <td mat-cell *matCellDef="let row; let index = index">
          <input type="text" formControlName="healthIndex" value="{{row?.healthIndex}}">
        </td>
      </ng-container>

      <ng-container matColumnDef="animalId">
        <th mat-header-cell *matHeaderCellDef> animalId</th>
        <td mat-cell *matCellDef="let row; let index = index">
          <input type="text" formControlName="animalId" value="{{row?.animalId}}">
        </td>
      </ng-container>

      <ng-container matColumnDef="lactationNumber">
        <th mat-header-cell *matHeaderCellDef> lactationNumber</th>
        <td mat-cell *matCellDef="let row; let index = index">
          <input type="text" formControlName="lactationNumber" value="{{row?.lactationNumber}}">
        </td>
      </ng-container>

      <ng-container matColumnDef="ageInDays">
        <th mat-header-cell *matHeaderCellDef> ageInDays</th>
        <td mat-cell *matCellDef="let row; let index = index">
          <input type="text" formControlName="ageInDays" value="{{row?.ageInDays}}">
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> edit</th>
        <td mat-cell *matCellDef="let row; let index = index">
          <button type="submit" (click)="saveForm(form.value)">Save</button>
          <button type="button" (click)="deleteForm(form.value)">Delete</button>
        </td>
      </ng-container>
    </table>
      <button type="button" (click)="addForm()">Add row</button>
</form>-->
